<header>
<div class="navbar navbar-static-top" role="navigation">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/public-apis/">Public APIs</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse pull-right">
	  <ul class="nav navbar-nav navbar-right">
		 <li><a href="public-apis/about">About</a></li>
		<li><a href="public-apis/contribute">How to Contribute</a></li>		 
	  </ul>
	</div>
<!--/.nav-collapse -->
  </div>
<!--/.container -->
</div>
<!--/.navbar -->
</header>
<hr>
