body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#entries td, #entries th {
    border: 1px solid #ddd;
    padding: 8px;
}

#entries tr:nth-child(even){background-color: #f2f2f2;}

#entries tr:hover {background-color: #ddd;}

#entries th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4783e5;
    color: white;
}

.center-text {
    text-align: center;
}

.isHidden {
	display: none;
}

#searchbox {
    text-align: center;
    border-radius: 50px;
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}