#entries {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#entries td, #entries th {
    border: 1px solid #ddd;
    padding: 8px;
}

#entries tr:nth-child(even){background-color: #f2f2f2;}

#entries tr:hover {background-color: #ddd;}

#entries th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4783e5;
    color: white;
}

th, td {
    padding: 15px;
    text-align: left;
}

.isHidden {
	display: none;
}